* {
  margin: 0px;
  padding: 0px;
}

.App{
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  padding: 15px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}